driver:
  enabled: true
  kind: modern_ebpf

falcoctl:
  artifact:
    install:
      enabled: true
    follow:
      enabled: false
  config:
    artifact:
      install:
        refs:
          - falco-rules:4
          - ghcr.io/falcosecurity/plugins/plugin/container:0.3.6

daemonset:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 1024Mi
